Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo_md_json

lefthook.yml:

# lefthook.yml
pre-commit:
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,svelte}"
      run: pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint:fix && git add {staged_files}
    repo_md_json:
      glob: "**.{md,json}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

chore(website): update contributing manual
  CONTRIBUTING.md
Due: repo_md_json

split file into smaller ones
  packages/whitepaper/build.sh
  packages/whitepaper/main.tex
  packages/whitepaper/sections/abstract.tex
  packages/whitepaper/sections/constants.tex
  packages/whitepaper/sections/crosschain.tex
  packages/whitepaper/sections/designprinciples.tex
  packages/whitepaper/sections/hardforks.tex
  packages/whitepaper/sections/improvements.tex
  packages/whitepaper/sections/introduction.tex
  packages/whitepaper/sections/overview.tex
  packages/whitepaper/sections/prevworks.tex
  packages/whitepaper/sections/references.tex
  packages/whitepaper/sections/taiko_anchortx.tex
  packages/whitepaper/sections/taiko_contracts.tex
  packages/whitepaper/sections/taiko_overview.tex
  packages/whitepaper/sections/taiko_proposing.tex
  packages/whitepaper/sections/taiko_proving.tex
  packages/whitepaper/sections/taiko_validation.tex
  packages/whitepaper/sections/taiko_verifying.tex
  packages/whitepaper/sections/terms.tex
  packages/whitepaper/sections/tokenomics_v1.tex
  packages/whitepaper/sections/zkevm.tex
Due: none

updates
  CONTRIBUTING.md
Due: repo_md_json

docs(website): Docs guides nodes curl request chainId and consensus layer syncing status (#14414)
  packages/website/pages/docs/guides/run-a-node/run-a-sepolia-node.mdx
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
Due: none

feat(website): update zksynth on ecosystem (#14410)
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/zksynth.png
Due: none

docs(website):Update enable-a-prover.mdx prerequisites (#14408)
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Due: none

docs(website): add guidance for changing staked TTKOe amount in Eldfell L3 provers (#14348)
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Due: none

docs(website): add L3 port setting example for "Run a Taiko node" (#14345)
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
Due: none

chore(website): update contributing manual (#14434)
  CONTRIBUTING.md
Due: repo_md_json

feat(website): Update enable-a-prover.mdx (#14353)
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Due: none

change title
  packages/whitepaper/main.tex
Due: none

make pdflatex less verbose
  packages/whitepaper/build.sh
Due: none

Update main.tex
  packages/whitepaper/main.tex
Due: none

Update README.md
  packages/whitepaper/README.md
Due: repo_md_json

replace an image
  packages/whitepaper/fig/fees_and_rewards.png
  packages/whitepaper/fig/taikoEcosystemFin2.png
  packages/whitepaper/main.tex
  packages/whitepaper/sections/tokenomics_v1.tex
Due: none

wip
  packages/bridge-ui-v2/src/components/ClickMask/ClickMask.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
Due: none

feat(website): add vooi to ecosystem
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/vooi.jpeg
Due: none

fix position
  packages/website/components/Ecosystem/EcosystemSection.tsx
Due: none

fix issue with token dropdown
  packages/bridge-ui-v2/src/components/ClickMask/ClickMask.svelte
  packages/bridge-ui-v2/src/components/ClickMask/index.ts
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
Due: none

minor change
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
Due: none

minor change
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Due: repo_md_json

typo
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
Due: none

Update run-a-taiko-node.mdx
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
Due: none

fix lint
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
Due: none

fix(bridge-ui-v2): Fix token dropdown (#14436)
  packages/bridge-ui-v2/src/components/ClickMask/ClickMask.svelte
  packages/bridge-ui-v2/src/components/ClickMask/index.ts
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Due: repo_md_json

feat(bridge-ui-v2): style adjustments, feature flag for nft tabs
  packages/bridge-ui-v2/src/components/Activities/Activities.svelte
  packages/bridge-ui-v2/src/components/Activities/Transaction.svelte
  packages/bridge-ui-v2/src/components/Bridge/BridgeTabs.svelte
  packages/bridge-ui-v2/src/components/Card/Card.svelte
  packages/bridge-ui-v2/src/components/LinkButton/LinkButton.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/styles/base.css
Due: none

feat(bridge-ui-v2): styling adjustments
  packages/bridge-ui-v2/src/components/Bridge/SwitchChainsButton.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/styles/components.css
Due: none

center text in chainselector
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
Due: none

feat(bridge-ui-v2): disable nft bridge in routes if flag set
  packages/bridge-ui-v2/src/routes/nft/+page.svelte
Due: none

Update ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
Due: none

fix
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/tokenvault/BaseNFTVault.sol
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
Due: none

fix import
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
Due: none

fix amount alert messages
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Due: repo_md_json

feat(website): add cloak to ecosystem (#14417)
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/cloak.png
Due: none

feat(website): add vooi to ecosystem (#14435)
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/vooi.jpeg
Due: none

.
  packages/bridge-ui/src/bridge/ERC20Bridge.ts
  packages/bridge-ui/src/proof/ProofService.ts
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.ts
  packages/bridge-ui/src/utils/getAddressForToken.ts
  packages/bridge-ui/src/wagmi/watcher.ts
  packages/pos-dashboard/src/components/Rewards/Rewards.svelte
  packages/pos-dashboard/src/components/StakeForm.svelte/StakeForm.svelte
  packages/pos-dashboard/src/utils/switchNetwork.ts
Due: bridge-ui

check if token is deployed cross chain needs to return true if the token address on dest chain is not 0x00
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.ts
Due: bridge-ui

update .env.example
  packages/bridge-ui-v2/.env.example
Due: none
