Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo_md_json

lefthook.yml:

# lefthook.yml
pre-commit:
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,svelte}"
      run: pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint:fix && git add {staged_files}
    repo_md_json:
      glob: "**.{md,json}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

Update TimeLockTokenPool.sol
  packages/protocol/contracts/_unlock/TimeLockTokenPool.sol
Due: none

chore(protocol): update `DeployOnL1` script based on #15007 (#15008)
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
Due: none

Update
  lefthook.yml
Due: none

Remove pos-dashboard in .github/workflows/lint-pr.yml
  .github/workflows/lint-pr.yml
Due: none

Revert changes in bridge-ui and pos-dashboard
  packages/bridge-ui/package.json
  packages/pos-dashboard/package.json
  packages/pos-dashboard/src/components/AddressDropdown.svelte
  packages/pos-dashboard/src/components/ChainDropdown.svelte
  packages/pos-dashboard/src/components/ConnectWallet.svelte
Due: repo_md_json

Revert changes in bridge-ui
  packages/bridge-ui/src/components/AddressDropdown.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectChain.svelte
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/ConnectWallet.svelte
  packages/bridge-ui/src/components/Faucet/Faucet.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
Due: bridge-ui

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Change slogan
  packages/website/components/Home/Hero.tsx
Due: none

feat(protocol): set taiko token supply to 1 billion (#15007)
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoToken.t.sol
Due: none

more
  packages/protocol/contracts/unlock/TimeLockTokenPool.sol
Due: none

Update packages/relayer/proof/encoded_signal_proof.go
  packages/relayer/proof/encoded_signal_proof.go
Due: none

Update packages/relayer/cmd/flags/processor.go
  packages/relayer/cmd/flags/processor.go
Due: none

Update packages/relayer/processor/process_message.go
  packages/relayer/processor/process_message.go
Due: none

more
  packages/protocol/contracts/4844/BlobHashReader.yulp
  packages/protocol/contracts/4844/IBlobHashReader.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/docs/how_taiko_proves_blocks.md
  packages/protocol/test/L1/TaikoL1TestBase.sol
Due: repo_md_json

more
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Due: none

Create Lib4844.sol
  packages/protocol/contracts/4844/Lib4844.sol
Due: none

mix mode
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
Due: none

Update LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
Due: none

rename
  packages/protocol/contracts/4844/Lib4844.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/docs/how_taiko_proves_blocks.md
  packages/protocol/test/L1/TaikoL1TestBase.sol
Due: repo_md_json

more
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Due: none

more
  packages/protocol/contracts/4844/Lib4844.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/verifiers/GuardianVerifier.sol
  packages/protocol/contracts/L1/verifiers/IVerifier.sol
  packages/protocol/contracts/L1/verifiers/PseZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/SgxAndZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
  packages/protocol/docs/how_taiko_proves_blocks.md
  packages/protocol/test/L1/TaikoL1TestBase.sol
Due: repo_md_json

Update PseZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/PseZkVerifier.sol
Due: none

feat(relayer): Relayer multihop (#15000)
  go.mod
  packages/protocol/script/SetAddress.s.sol
  packages/relayer/.gitignore
  packages/relayer/.golangci.yml
  packages/relayer/.l1processor.example.env
  packages/relayer/SignalService.json
  packages/relayer/bindings/signalservice/SignalService.go
  packages/relayer/cmd/flags/processor.go
  packages/relayer/encoding/signal_proof_test.go
  packages/relayer/encoding/types.go
  packages/relayer/mock/blocker.go
  packages/relayer/mock/eth_client.go
  packages/relayer/mock/signalservice.go
  packages/relayer/processor/config.go
  packages/relayer/processor/process_message.go
  packages/relayer/processor/process_message_test.go
  packages/relayer/processor/processor.go
  packages/relayer/processor/processor_test.go
  packages/relayer/processor/wait_header_synced.go
  packages/relayer/processor/wait_header_synced_test.go
  packages/relayer/proof/block_header.go
  packages/relayer/proof/block_header_test.go
  packages/relayer/proof/encoded_signal_proof.go
  packages/relayer/proof/encoded_signal_proof_test.go
  packages/relayer/proof/prover.go
  packages/relayer/scripts/abigen.sh
  packages/relayer/signalservice.go
Due: repo_md_json

Update Hero.tsx
  packages/website/components/Home/Hero.tsx
Due: none

Update TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Due: none
