Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo_md_json

lefthook.yml:

# lefthook.yml
pre-commit:
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,svelte}"
      run: pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint:fix && git add {staged_files}
    repo_md_json:
      glob: "**.{md,json}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

feat(protocol): unify taiko tokens acros L1, L2s, and L3s (#14083)
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/bridge/BridgedERC20.sol
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/IMintableERC20.sol
  packages/protocol/test/TokenVault.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoToken.md
  packages/website/pages/docs/reference/contract-documentation/bridge/BridgedERC20.md
  packages/website/pages/docs/reference/contract-documentation/bridge/TokenVault.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
  packages/website/pages/docs/reference/contract-documentation/common/IMintableERC20.md
Due: repo_md_json

fix(bridge-ui-v2): fixed menus (#14099)
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/styles/components.css
  packages/bridge-ui-v2/src/styles/utilities.css
Due: none

bindings for a4
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/relayer/TaikoL1.json
  packages/relayer/TokenVault.json
  packages/relayer/abigen.sh
  packages/relayer/contracts/bridge/Bridge.go
  packages/relayer/contracts/taikol1/TaikoL1.go
  packages/relayer/contracts/taikol2/TaikoL2.go
  packages/relayer/contracts/tokenvault/TokenVault.go
Due: repo_md_json

Reorganize current base alpha-3 into subfolders and adjusted dependencies/tests
  packages/protocol/contracts/L1/A3/TaikoConfig_A3.sol
  packages/protocol/contracts/L1/A3/TaikoData_A3.sol
  packages/protocol/contracts/L1/A3/libs_a3/LibEthDepositing_A3.sol
  packages/protocol/contracts/L1/A3/libs_a3/LibProposing_A3.sol
  packages/protocol/contracts/L1/A3/libs_a3/LibProving_A3.sol
  packages/protocol/contracts/L1/A3/libs_a3/LibTokenomics_A3.sol
  packages/protocol/contracts/L1/A3/libs_a3/LibUtils_A3.sol
  packages/protocol/contracts/L1/A3/libs_a3/LibVerifying_A3.sol
  packages/protocol/contracts/L1/A4/ProverPool_A4.sol
  packages/protocol/contracts/L1/A4/TaikoConfig_A4.sol
  packages/protocol/contracts/L1/A4/TaikoData_A4.sol
  packages/protocol/contracts/L1/A4/TaikoErrors_A4.sol
  packages/protocol/contracts/L1/A4/TaikoEvents_A4.sol
  packages/protocol/contracts/L1/A4/libs_a4/LibEthDepositing_A4.sol
  packages/protocol/contracts/L1/A4/libs_a4/LibProposing_A4.sol
  packages/protocol/contracts/L1/A4/libs_a4/LibProving_A4.sol
  packages/protocol/contracts/L1/A4/libs_a4/LibTkoDistribution_A4.sol
  packages/protocol/contracts/L1/A4/libs_a4/LibUtils_A4.sol
  packages/protocol/contracts/L1/A4/libs_a4/LibVerifying_A4.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/TaikoToken_A4.bak
  packages/protocol/contracts/common/a4/AddressResolver_A4.sol
  packages/protocol/contracts/common/a4/EssentialContract_A4.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/contracts_actual_alpha3.zip
  packages/protocol/test/GasComparison.t.sol
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsTestnet.t.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Due: none

feat(protocol): A4 bindings (#14101)
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/relayer/TaikoL1.json
  packages/relayer/TokenVault.json
  packages/relayer/abigen.sh
  packages/relayer/contracts/bridge/Bridge.go
  packages/relayer/contracts/taikol1/TaikoL1.go
  packages/relayer/contracts/taikol2/TaikoL2.go
  packages/relayer/contracts/tokenvault/TokenVault.go
Due: repo_md_json

save address
  packages/eventindexer/indexer/save_slashed_event.go
Due: none

add log for pos stats
  packages/eventindexer/http/get_pos_stats.go
Due: none

save amt
  packages/eventindexer/indexer/save_slashed_event.go
Due: none

fix(eventindexer): add address to Slashed event in db, + add logs (#14103)
  packages/eventindexer/http/get_pos_stats.go
  packages/eventindexer/indexer/save_slashed_event.go
Due: none

keep the effective rewardPerGas in a range for weight calculation
  packages/protocol/contracts/L1/ProverPool.sol
Due: none

keep the effective rewardPerGas in a range for weight calculation
  packages/website/pages/docs/reference/contract-documentation/L1/ProverPool.md
Due: repo_md_json

more
  packages/website/pages/docs/reference/contract-documentation/L1/ProverPool.md
Due: repo_md_json

add toBigNumber
  packages/bridge-ui/package.json
  packages/bridge-ui/src/relayer-api/RelayerAPIService.ts
  packages/bridge-ui/src/utils/toBigNumber.ts
Due: bridge-ui, repo_md_json

add comment
  packages/bridge-ui/src/utils/toBigNumber.ts
Due: bridge-ui

add test for toBigNumber
  packages/bridge-ui/src/utils/toBigNumber.spec.ts
Due: bridge-ui

fix(protocol): limit reward per gas in weight calculation (#14098)
  packages/protocol/contracts/L1/ProverPool.sol
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/website/pages/docs/reference/contract-documentation/L1/ProverPool.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
Due: repo_md_json

glassy effect
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/styles/utilities.css
Due: none

wip
  packages/bridge-ui-v2/.eslintrc.cjs
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/styles/base.css
Due: none

improve test
  packages/bridge-ui/src/utils/toBigNumber.spec.ts
Due: bridge-ui

A4 related imports into TaikoL1
  packages/protocol/contracts/L1/A4/libs_a4/LibVerifying_A4.sol
  packages/protocol/contracts/L1/TaikoL1.sol
Due: none

fix(bridge-ui): handle scientific notation (#14105)
  packages/bridge-ui/package.json
  packages/bridge-ui/src/relayer-api/RelayerAPIService.ts
  packages/bridge-ui/src/utils/toBigNumber.spec.ts
  packages/bridge-ui/src/utils/toBigNumber.ts
Due: bridge-ui, repo_md_json

connect button
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/components/Spinner/Spinner.svelte
  packages/bridge-ui-v2/src/components/Spinner/index.ts
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/routes/+layout.svelte
  packages/bridge-ui-v2/src/styles/base.css
Due: repo_md_json

wip
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/static/ethereum-chain.svg
  packages/bridge-ui-v2/static/taiko-chain.svg
Due: none

new chain icons
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/static/ethereum-chain.png
  packages/bridge-ui-v2/static/ethereum-chain.svg
  packages/bridge-ui-v2/static/taiko-chain.png
  packages/bridge-ui-v2/static/taiko-chain.svg
Due: none

minor change
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
Due: none

fix lint
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/components/Spinner/index.ts
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
Due: none

minor change
  packages/bridge-ui-v2/src/components/Spinner/Spinner.svelte
Due: none

minor fix
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
Due: none

Experiment with integrating a3 and a4
  packages/protocol/contracts/L1/A3/TaikoConfig_A3.sol
  packages/protocol/contracts/L1/A3/TaikoData_A3.sol
  packages/protocol/contracts/L1/A3/libs_a3/LibEthDepositing_A3.sol
  packages/protocol/contracts/L1/A3/libs_a3/LibProposing_A3.sol
  packages/protocol/contracts/L1/A3/libs_a3/LibProving_A3.sol
  packages/protocol/contracts/L1/A3/libs_a3/LibTokenomics_A3.sol
  packages/protocol/contracts/L1/A3/libs_a3/LibUtils_A3.sol
  packages/protocol/contracts/L1/A3/libs_a3/LibVerifying_A3.sol
  packages/protocol/contracts/L1/A4/TaikoConfig_A4.sol
  packages/protocol/contracts/L1/A4/libs_a4/LibEthDepositing_A4.sol
  packages/protocol/contracts/L1/A4/libs_a4/LibProposing_A4.sol
  packages/protocol/contracts/L1/A4/libs_a4/LibProving_A4.sol
  packages/protocol/contracts/L1/A4/libs_a4/LibTkoDistribution_A4.sol
  packages/protocol/contracts/L1/A4/libs_a4/LibUtils_A4.sol
  packages/protocol/contracts/L1/A4/libs_a4/LibVerifying_A4.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/test/GasComparison.t.sol
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsTestnet.t.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Due: none

add provers route
  packages/eventindexer/http/routes.go
Due: none

abigen
  packages/eventindexer/ProverPool.json
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/abigen.sh
  packages/eventindexer/contracts/proverpool/ProverPool.go
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/eventindexer/http/get_current_provers.go
Due: repo_md_json

feat(bridge-ui-v2): connect button (#14106)
  packages/bridge-ui-v2/.eslintrc.cjs
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/components/Spinner/Spinner.svelte
  packages/bridge-ui-v2/src/components/Spinner/index.ts
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/routes/+layout.svelte
  packages/bridge-ui-v2/src/styles/base.css
  packages/bridge-ui-v2/src/styles/utilities.css
  packages/bridge-ui-v2/static/ethereum-chain.png
  packages/bridge-ui-v2/static/taiko-chain.png
Due: repo_md_json

chore(website): update ecosystem page
  packages/website/components/EcosystemSection.tsx
  packages/website/pages/ecosystem.mdx
  packages/website/public/images/ecosystem/crypton.png
  packages/website/public/images/ecosystem/mxc.svg
Due: none

fix lockfile maybe
  pnpm-lock.yaml
Due: none

fix lockfile maybe
  packages/website/pnpm-lock.yaml
Due: none

chore(website): update home page
  packages/website/components/BlogSection.tsx
  packages/website/components/CommunitySection.tsx
  packages/website/components/Footer.tsx
  packages/website/theme.config.tsx
Due: none

chore(website): add thirdweb and soulwallet
  packages/website/components/EcosystemSection.tsx
  packages/website/public/images/ecosystem/soul-wallet.svg
  packages/website/public/images/ecosystem/thirdweb.png
Due: none

gas limit, gas used, gas price all in uint32
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/libs/Lib1559Math.sol
  packages/protocol/test/Taiko1559Params.t.sol
  packages/protocol/test/TaikoL2.t.sol
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
Due: repo_md_json

chore(website): update ecosystem page (#14109)
  packages/website/components/EcosystemSection.tsx
  packages/website/pages/ecosystem.mdx
  packages/website/pnpm-lock.yaml
  packages/website/public/images/ecosystem/crypton.png
  packages/website/public/images/ecosystem/mxc.svg
  pnpm-lock.yaml
Due: none
