Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo_md_json

lefthook.yml:

# lefthook.yml
pre-commit:
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,svelte}"
      run: pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint:fix && git add {staged_files}
    repo_md_json:
      glob: "**.{md,json}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

Add auto-generated contract documentation
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
Due: repo_md_json

fix(protocol): Fix name mismatch(build) issue (#13803)
  packages/protocol/contracts/common/EssentialContract.sol
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
Due: repo_md_json

wip
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/components/form/Memo.svelte
  packages/bridge-ui/src/components/form/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui/src/components/form/To.svelte
  packages/bridge-ui/tailwind.config.cjs
Due: bridge-ui

typed proof
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L2/TaikoL2Signer.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/gov/TaikoGovernor.sol
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Due: none

Add auto-generated contract documentation
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
Due: repo_md_json

more
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
Due: repo_md_json

more
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
Due: repo_md_json

Update TaikoL1.sol
  packages/protocol/contracts/L1/TaikoL1.sol
Due: none

more
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
Due: repo_md_json

Update LibProving.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
Due: none

more
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
Due: repo_md_json

add stepper
  packages/bridge-ui/src/components/BridgeForm/AddCustomERC20.svelte
  packages/bridge-ui/src/components/BridgeForm/ApproveBridgeSteps.svelte
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/BridgeForm/Memo.svelte
  packages/bridge-ui/src/components/BridgeForm/ProcessingFee.svelte
  packages/bridge-ui/src/components/BridgeForm/ProcessingFeeTooltip.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectChain.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectToken.svelte
  packages/bridge-ui/src/components/BridgeForm/To.svelte
  packages/bridge-ui/src/components/BridgeForm/index.ts
  packages/bridge-ui/src/components/Button.svelte
  packages/bridge-ui/src/components/ConnectWallet.svelte
  packages/bridge-ui/src/components/Faucet/Faucet.svelte
  packages/bridge-ui/src/components/Faucet/index.ts
  packages/bridge-ui/src/components/Navbar.svelte
  packages/bridge-ui/src/components/Transactions/MessageStatusTooltip.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/form/ProcessingFee/index.ts
  packages/bridge-ui/src/components/modals/NoticeModal.svelte
  packages/bridge-ui/src/pages/home/Home.svelte
Due: bridge-ui

minor change
  packages/bridge-ui/src/components/BridgeForm/ApproveBridgeSteps.svelte
Due: bridge-ui

minor improvement
  packages/bridge-ui/src/components/BridgeForm/ProcessingFee.svelte
Due: bridge-ui

fixed two messages informing about funds claimed
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
Due: bridge-ui

Add auto-generated contract documentation
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
Due: repo_md_json

feat(protocol): update PlonkVerifier
  packages/protocol/contracts/libs/yul/PlonkVerifier.yulp
Due: none

feat(protocol): update `PlonkVerifier` (#13805)
  packages/protocol/contracts/libs/yul/PlonkVerifier.yulp
Due: none

chore(protocol): update Alpha-3 protocol configurations
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/DetermineNewProofTimeIssued.s.sol
  packages/protocol/test/genesis/test_config.json
Due: repo_md_json

Add reward and fee fields to events
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
Due: none

wip
  packages/bridge-ui/src/components/AddressDropdown.svelte
  packages/bridge-ui/src/components/BridgeForm/AddCustomERC20.svelte
  packages/bridge-ui/src/components/BridgeForm/ApproveBridgeSteps.svelte
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/BridgeForm/Memo.svelte
  packages/bridge-ui/src/components/BridgeForm/ProcessingFee.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/Transactions/TransactionDetail.svelte
  packages/bridge-ui/src/components/Transactions/Transactions.svelte
  packages/bridge-ui/src/components/modals/FaucetModal.svelte
  packages/bridge-ui/src/signer/subscriber.ts
  packages/bridge-ui/src/storage/StorageService.ts
  packages/bridge-ui/src/utils/addressSubsection.spec.ts
  packages/bridge-ui/src/utils/addressSubsection.ts
Due: bridge-ui

Add auto-generated contract documentation
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
Due: repo_md_json

components folder restructuring
  packages/bridge-ui/src/App.svelte
  packages/bridge-ui/src/components/AddressDropdown.svelte
  packages/bridge-ui/src/components/BridgeForm/AddCustomERC20.svelte
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/BridgeForm/Memo.svelte
  packages/bridge-ui/src/components/BridgeForm/ProcessingFee.svelte
  packages/bridge-ui/src/components/BridgeForm/ProcessingFeeTooltip.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectChain.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectToken.svelte
  packages/bridge-ui/src/components/BridgeForm/To.svelte
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/ConnectWallet.svelte
  packages/bridge-ui/src/components/FaucetModal.svelte
  packages/bridge-ui/src/components/Modal.svelte
  packages/bridge-ui/src/components/NoticeModal.svelte
  packages/bridge-ui/src/components/NotificationToast.svelte
  packages/bridge-ui/src/components/SwitchChainModal.svelte
  packages/bridge-ui/src/components/TooltipModal.svelte
  packages/bridge-ui/src/components/Transactions/InsufficientBalanceTooltip.svelte
  packages/bridge-ui/src/components/Transactions/MessageStatusTooltip.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/Transactions/TransactionDetail.svelte
  packages/bridge-ui/src/components/Transactions/Transactions.svelte
  packages/bridge-ui/src/store/modal.ts
  packages/bridge-ui/src/wagmi/watcher.ts
Due: bridge-ui

minor change
  packages/bridge-ui/src/components/SwitchChainModal.svelte
Due: bridge-ui

increase coverage in token
  packages/bridge-ui/src/token/tokens.spec.ts
Due: bridge-ui

fix lint warning
  packages/bridge-ui/src/components/FaucetModal.svelte
Due: bridge-ui

rename for consistency
  packages/bridge-ui/src/components/AddressDropdown.svelte
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/FaucetModal.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/Transactions/Transactions.svelte
  packages/bridge-ui/src/pages/home/Home.svelte
  packages/bridge-ui/src/signer/subscriber.ts
  packages/bridge-ui/src/store/transaction.spec.ts
  packages/bridge-ui/src/store/transaction.ts
Due: bridge-ui

fix issue with approve-bridge steps
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
Due: bridge-ui

wip: Faucet
  packages/bridge-ui/src/pages/home/Home.svelte
Due: bridge-ui

commend out current faucet
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
Due: bridge-ui

wip: Faucet
  packages/bridge-ui/src/assets/taiko-banner.svg
  packages/bridge-ui/src/components/BridgeForm/SelectToken.svelte
  packages/bridge-ui/src/components/Faucet/Faucet.svelte
  packages/bridge-ui/src/components/Faucet/TestTokenDropdown.svelte
Due: bridge-ui

wip auction
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibAuction.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/DetermineNewProofTimeIssued.s.sol
  packages/protocol/test/LibLn.sol
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsTestnet.t.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
  packages/relayer/TaikoL1.json
  packages/status-page/.default.env
  packages/status-page/src/constants/abi/TaikoL1.ts
  packages/status-page/src/utils/buildStatusIndicators.ts
  packages/status-page/src/utils/getLastVerifiedBlockId.ts
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
Due: repo_md_json

feat(protocol): Add reward and fee fields to events (#13808)
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
Due: repo_md_json

wip
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/eventindexer/migrations/1666650701_create_stats_table.sql
  packages/eventindexer/repo/stats.go
  packages/eventindexer/stat.go
  packages/relayer/TaikoL1.json
  packages/relayer/TokenVault.json
  packages/relayer/contracts/bridge/Bridge.go
  packages/relayer/contracts/taikol1/TaikoL1.go
  packages/relayer/contracts/taikol2/TaikoL2.go
  packages/relayer/contracts/tokenvault/TokenVault.go
  packages/status-page/src/constants/abi/TaikoL1.ts
  packages/status-page/src/utils/getNumProposers.ts
  packages/status-page/src/utils/getNumProvers.ts
  packages/status-page/src/utils/getProofReward.ts
Due: repo_md_json

Scale up damping factor and flatten curve
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/DetermineNewProofTimeIssued.s.sol
  packages/protocol/test/LibLn.sol
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Due: none

Add auto-generated contract documentation
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
Due: repo_md_json

Adjust factor to quicker block time
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/script/DetermineNewProofTimeIssued.s.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Due: none

status page for proof time / reward, eventindexer stats tracking, updated abigen for relayer and eventindexer, abi updates for status page
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/abigen.sh
  packages/eventindexer/cli/cli.go
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/eventindexer/errors.go
  packages/eventindexer/event.go
  packages/eventindexer/http/get_stats.go
  packages/eventindexer/http/routes.go
  packages/eventindexer/http/server.go
  packages/eventindexer/indexer/filter_then_subscribe.go
  packages/eventindexer/indexer/save_block_proposed_event.go
  packages/eventindexer/indexer/save_block_proven_event.go
  packages/eventindexer/indexer/save_block_verified_event.go
  packages/eventindexer/indexer/service.go
  packages/eventindexer/indexer/subscribe.go
  packages/eventindexer/migrations/1666650599_create_events_table.sql
  packages/eventindexer/migrations/1666650701_create_stats_table.sql
  packages/eventindexer/prometheus.go
  packages/eventindexer/repo/stat.go
  packages/eventindexer/stat.go
Due: repo_md_json
