Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo_md_json

bridge-ui:
  run: pnpm -F bridge-ui lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint:fix && git add {staged_files}

repo_md_json:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

chore(website): update blog posts (#13886)
  packages/website/components/BlogSection.tsx
Due: none

fix(relayer): only need to find first msg hash (#13966)
  packages/relayer/event.go
  packages/relayer/indexer/detect_and_handle_reorg.go
  packages/relayer/indexer/save_message_status_changed_events.go
  packages/relayer/mock/event_repository.go
  packages/relayer/repo/event.go
  packages/relayer/repo/event_test.go
Due: none

fix(website): add error explanation to run a node guide (#13953)
  packages/website/pages/docs/guides/run-a-node.mdx
Due: none

feat(website): update swap guide (#13934)
  packages/website/pages/docs/guides/_meta.json
  packages/website/pages/docs/guides/swap-tokens.mdx
  packages/website/public/images/guides/swap/1.png
  packages/website/public/images/guides/swap/10.png
  packages/website/public/images/guides/swap/11.png
  packages/website/public/images/guides/swap/12.png
  packages/website/public/images/guides/swap/13.png
  packages/website/public/images/guides/swap/2.png
  packages/website/public/images/guides/swap/3.png
  packages/website/public/images/guides/swap/4.png
  packages/website/public/images/guides/swap/5.png
  packages/website/public/images/guides/swap/6.png
  packages/website/public/images/guides/swap/7.png
  packages/website/public/images/guides/swap/8.png
  packages/website/public/images/guides/swap/9.png
Due: repo_md_json

fix(website): bridge guide link (#13933)
  packages/website/pages/docs/guides/use-the-bridge.mdx
Due: none

fix(website): update run a node guide to point rpc to archive node (#13942)
  packages/website/pages/docs/guides/run-a-node.mdx
Due: none

fix(website): add swap guide to guides (#13946)
  packages/website/pages/docs/guides.mdx
Due: none

feat(protocol): proxy upgrade scripts (#13944)
  packages/protocol/package.json
  packages/protocol/script/upgrade/UpgradeAddressManager.s.sol
  packages/protocol/script/upgrade/UpgradeBridge.s.sol
  packages/protocol/script/upgrade/UpgradeScript.s.sol
  packages/protocol/script/upgrade/UpgradeSignalService.sol
  packages/protocol/script/upgrade/UpgradeTaikoL1.s.sol
  packages/protocol/script/upgrade/UpgradeTaikoL2.s.sol
  packages/protocol/script/upgrade/UpgradeTaikoToken.s.sol
  packages/protocol/script/upgrade/UpgradeTokenVault.s.sol
  packages/protocol/script/upgrade_to.sh
Due: repo_md_json

fix(relayer): return nil, not error, if we dont have a previous msghash (#13968)
  packages/relayer/indexer/save_message_status_changed_events.go
Due: none

feat(website): update loopring wallet link (#13962)
  packages/website/components/EcosystemSection.tsx
Due: none

docs(protocol): update bridge docs (#13932)
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/BridgeErrors.sol
  packages/protocol/contracts/bridge/BridgedERC20.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/bridge/libs/LibBridgeData.sol
  packages/protocol/contracts/bridge/libs/LibBridgeInvoke.sol
  packages/protocol/contracts/bridge/libs/LibBridgeProcess.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRelease.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRetry.sol
  packages/protocol/contracts/bridge/libs/LibBridgeSend.sol
  packages/protocol/contracts/bridge/libs/LibBridgeStatus.sol
  packages/website/pages/docs/reference/contract-documentation/bridge/Bridge.md
  packages/website/pages/docs/reference/contract-documentation/bridge/BridgeErrors.md
  packages/website/pages/docs/reference/contract-documentation/bridge/BridgedERC20.md
  packages/website/pages/docs/reference/contract-documentation/bridge/EtherVault.md
  packages/website/pages/docs/reference/contract-documentation/bridge/TokenVault.md
Due: repo_md_json

fix(relayer): relayer is slow due to inefficient indexing in sql (#13964)
  packages/relayer/migrations/1666650701_alter_events_table_add_message_owner_event_type_chain_id_event_index.sql
  packages/relayer/migrations/1666650702_alter_events_table_add_message_owner_event_type_chain_id_index.sql
  packages/relayer/migrations/1666650703_alter_events_table_add_message_owner_event_type_index.sql
  packages/relayer/migrations/1666650704_alter_events_table_add_message_owner_index.sql
  packages/relayer/migrations/1666650705_alter_events_table_add_msg_hash_index.sql
  packages/relayer/migrations/1666650706_alter_events_table_add_message_owner_chain_id_index.sql
  packages/relayer/migrations/1666650707_alter_events_table_add_message_owner_event_index.sql
Due: none

fix(eventindexer): Ei lint (#13959)
  packages/eventindexer/.golangci.yml
Due: none

fix(bridge-ui): fix issue in beforeSend (#13971)
  packages/bridge-ui/src/sentry.ts
Due: bridge-ui

fix(bridge-ui): filtering out BLL token failure when bridging (#13969)
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
Due: bridge-ui

chore(website): update proposing docs (#13919)
  packages/website/pages/docs/concepts/_meta.json
  packages/website/pages/docs/concepts/creating-taiko-blocks/_meta.json
  packages/website/pages/docs/concepts/creating-taiko-blocks/anchor-transaction.mdx
  packages/website/pages/docs/concepts/creating-taiko-blocks/proposing-blocks.mdx
  packages/website/pages/docs/concepts/proposing.mdx
Due: repo_md_json

fix(bridge-ui): mobile issues (#13927)
  packages/bridge-ui/src/components/BridgeForm/AddTokenToWallet.svelte
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectChain.svelte
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/Faucet/Faucet.svelte
  packages/bridge-ui/src/components/SwitchChainModal.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/utils/injectedProvider.spec.ts
  packages/bridge-ui/src/utils/injectedProvider.ts
  packages/bridge-ui/src/utils/isMobileDevice.ts
  packages/bridge-ui/src/utils/mintERC20.spec.ts
  packages/bridge-ui/src/utils/mintERC20.ts
  packages/bridge-ui/src/utils/rpcCall.spec.ts
  packages/bridge-ui/src/utils/rpcCall.ts
  packages/bridge-ui/src/utils/selectChain.spec.ts
  packages/bridge-ui/src/utils/selectChain.ts
  packages/bridge-ui/src/utils/switchNetwork.spec.ts
  packages/bridge-ui/src/utils/switchNetwork.ts
  packages/bridge-ui/src/wagmi/client.ts
  packages/bridge-ui/src/wagmi/watcher.ts
Due: bridge-ui

feat(eventindexer): add indexes to querying optimizations (#13951)
  packages/eventindexer/migrations/1666650702_alter_events_table_add_address_index.sql
  packages/eventindexer/migrations/1666650703_alter_events_table_add_event_index.sql
  packages/eventindexer/migrations/1666650704_alter_events_table_add_block_id_index.sql
  packages/eventindexer/migrations/1666650705_alter_events_table_add_address_and_event_index.sql
Due: none

chore(website): update taiko nodes documentation (#13920)
  packages/website/excalidraw/taiko-nodes.excalidraw
  packages/website/pages/docs/concepts/overview.md
  packages/website/pages/docs/concepts/taiko-nodes.mdx
  packages/website/public/images/diagrams/concepts/taiko-nodes/taiko-nodes.png
Due: repo_md_json

fix(website): fix rpc url for hardhat guide (#13954)
  packages/website/pages/docs/guides/deploy-a-contract.mdx
Due: none

chore(website): update ecosystem page (swap, nfts2me) (#13963)
  packages/website/components/EcosystemSection.tsx
  packages/website/public/images/ecosystem/nfts2me.jpg
Due: none

docs(website): update use the bridge docs and feedback form (#13929)
  packages/website/pages/docs/guides.mdx
  packages/website/pages/docs/guides/use-the-bridge.mdx
Due: none

fix(relayer): make sure to return nil for first by msg hash (#13967)
  packages/relayer/indexer/detect_and_handle_reorg.go
  packages/relayer/indexer/save_message_status_changed_events.go
  packages/relayer/repo/event.go
Due: none

feat(bridge-ui): sentry integration (#13943)
  packages/bridge-ui/.default.env
  packages/bridge-ui/package.json
  packages/bridge-ui/src/app.ts
  packages/bridge-ui/src/components/AddressDropdown.svelte
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/BridgeForm/ProcessingFee.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectChain.svelte
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/ConnectWallet.svelte
  packages/bridge-ui/src/components/Faucet/Faucet.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/constants/__mocks__/envVars.ts
  packages/bridge-ui/src/constants/envVars.ts
  packages/bridge-ui/src/sentry.ts
  packages/bridge-ui/src/signer/subscriber.ts
  packages/bridge-ui/src/vite-env.d.ts
  packages/bridge-ui/svelte.config.cjs
  pnpm-lock.yaml
Due: bridge-ui, repo_md_json

solidity v0.8.20
  packages/protocol/README.md
  packages/protocol/contracts/L1/libs/LibAuction.sol
  packages/protocol/contracts/L1/libs/LibTkoDistribution.sol
  packages/protocol/contracts/L2/TaikoL2.sol
Due: repo_md_json

Update LibProving.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
Due: none

more readable
  packages/protocol/contracts/L1/libs/LibAuction.sol
Due: none

add extra info to Sentry
  packages/bridge-ui/src/components/AddressDropdown.svelte
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/BridgeForm/ProcessingFee.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectChain.svelte
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/Faucet/Faucet.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/signer/subscriber.ts
  packages/bridge-ui/src/utils/switchNetwork.ts
Due: bridge-ui

Update LibAuction.sol
  packages/protocol/contracts/L1/libs/LibAuction.sol
Due: none

minor change
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
Due: bridge-ui

Update LibVerifying.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
Due: none

fix(bridge-ui): add extra info to sentry (#13972)
  packages/bridge-ui/src/components/AddressDropdown.svelte
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/BridgeForm/ProcessingFee.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectChain.svelte
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/Faucet/Faucet.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/signer/subscriber.ts
  packages/bridge-ui/src/utils/switchNetwork.ts
Due: bridge-ui

Update batch_auction_design.md
  packages/protocol/docs/batch_auction_design.md
Due: repo_md_json

source maps
  packages/bridge-ui/src/sentry.ts
  packages/bridge-ui/vite.config.ts
Due: bridge-ui

reduce sample rate on prod
  packages/bridge-ui/src/sentry.ts
Due: bridge-ui

remove unused type
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
Due: bridge-ui

minor change
  packages/bridge-ui/vite.config.ts
Due: bridge-ui

Update receive-tokens.mdx - Add more sepolia ETH faucet site
  packages/website/pages/docs/guides/receive-tokens.mdx
Due: none

Path conditions:
  bridge-ui: any of: packages/bridge-ui/**.{js,ts,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo_md_json: any of: **.{md,json}
