Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo_md_json

bridge-ui:
  run: pnpm -F bridge-ui lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint:fix && git add {staged_files}

repo_md_json:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

cleanup
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/LibLn.sol
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Due: none

cleanup
  packages/protocol/contracts/L1/TaikoToken.sol
Due: none

add links
  packages/website/pages/_meta.json
Due: repo_md_json

a3 docs changes
  .github/ISSUE_TEMPLATE/add_project.yml
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/website/components/AddEthereumChainButton.tsx
  packages/website/components/BlogSection.tsx
  packages/website/components/EcosystemCard.tsx
  packages/website/components/EcosystemSection.tsx
  packages/website/components/FeaturesSection.tsx
  packages/website/components/Hero.tsx
  packages/website/next.config.js
  packages/website/package.json
  packages/website/pages/_meta.json
  packages/website/pages/docs/_meta.json
  packages/website/pages/docs/concepts.mdx
  packages/website/pages/docs/concepts/bridging/how-the-bridge-works.mdx
  packages/website/pages/docs/concepts/bridging/the-taiko-bridge-dapp.mdx
  packages/website/pages/docs/guides.mdx
  packages/website/pages/docs/guides/_meta.json
  packages/website/pages/docs/guides/build-a-dapp.mdx
  packages/website/pages/docs/guides/configure-your-wallet.mdx
  packages/website/pages/docs/guides/deploy-a-contract.mdx
  packages/website/pages/docs/guides/enable-a-prover.mdx
  packages/website/pages/docs/guides/receive-tokens.mdx
  packages/website/pages/docs/guides/run-a-node.mdx
  packages/website/pages/docs/guides/swap-tokens.mdx
  packages/website/pages/docs/guides/use-the-bridge.mdx
  packages/website/pages/docs/guides/verify-a-contract.mdx
  packages/website/pages/docs/index.mdx
  packages/website/pages/docs/reference.mdx
  packages/website/pages/docs/reference/contract-documentation.md
  packages/website/pages/docs/resources.mdx
  packages/website/pages/ecosystem.mdx
  packages/website/public/images/ecosystem/loopring.svg
  packages/website/public/images/ecosystem/taiko.svg
  packages/website/public/images/guides/deploy-remix/compile.png
  packages/website/public/images/guides/deploy-remix/deploy.png
  packages/website/public/images/guides/deploy-remix/select.png
  packages/website/theme.config.tsx
  pnpm-lock.yaml
Due: repo_md_json

updates
  packages/website/components/BlogSection.tsx
  packages/website/components/CareerSection.tsx
  packages/website/components/FeaturesSection.tsx
  packages/website/components/Hero.tsx
  packages/website/fonts/ClashGrotesk-Medium.woff2
  packages/website/fonts/ClashGrotesk-Semibold.woff2
  packages/website/pages/_app.tsx
  packages/website/pages/ecosystem.mdx
  packages/website/public/images/Taiko_GEOM_1_Fluo_Sliced.svg
  packages/website/public/images/favicon.png
  packages/website/public/images/favicon.svg
  packages/website/public/images/logotype-black.png
  packages/website/public/images/logotype-white.png
  packages/website/tailwind.config.js
  packages/website/theme.config.tsx
Due: none

bump nextra for navbar fix
  packages/website/package.json
  packages/website/pages/_meta.json
  packages/website/pages/docs/reference/_meta.json
  pnpm-lock.yaml
Due: repo_md_json

add orbiter
  packages/website/components/EcosystemSection.tsx
  packages/website/public/images/ecosystem/orbiter.jpg
Due: none

add contract and rpc
  packages/website/pages/docs/reference/contract-addresses.md
  packages/website/pages/docs/reference/rpc-configuration.md
Due: repo_md_json

update link
  packages/website/theme.config.tsx
Due: none

Add auto-generated contract documentation
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
Due: repo_md_json

fix issue when selecting the token from the faucet
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/BridgeForm/Memo.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectToken.svelte
  packages/bridge-ui/src/components/Faucet/TestTokenDropdown.svelte
  packages/bridge-ui/src/utils/selectToken.ts
Due: bridge-ui

improvements
  packages/bridge-ui/src/components/BridgeForm/ActionButtons.svelte
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/styles/app.css
  packages/bridge-ui/src/styles/override.css
Due: bridge-ui

trigger reactivity on token selected token
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
Due: bridge-ui

test subscriber
  packages/bridge-ui/jest.config.js
  packages/bridge-ui/src/signer/subscriber.spec.ts
Due: bridge-ui

Update packages/eventindexer/indexer/save_block_proven_event.go
  packages/eventindexer/indexer/save_block_proven_event.go
Due: none

Update packages/eventindexer/indexer/subscribe.go
  packages/eventindexer/indexer/subscribe.go
Due: none

test
  packages/eventindexer/http/get_stats_test.go
  packages/eventindexer/mock/stat_repository.go
Due: none

feat(status-page): updates for a3 (#13821)
  packages/eventindexer/http/get_stats_test.go
  packages/eventindexer/indexer/save_block_proven_event.go
  packages/eventindexer/indexer/save_block_verified_event.go
  packages/eventindexer/indexer/subscribe.go
  packages/eventindexer/migrations/1666650701_create_stats_table.sql
  packages/eventindexer/mock/stat_repository.go
  packages/eventindexer/repo/stat.go
  packages/eventindexer/repo/stat_test.go
  packages/eventindexer/stat.go
  packages/relayer/indexer/subscribe.go
  packages/status-page/.default.env
  packages/status-page/src/constants/abi/TaikoToken.ts
  packages/status-page/src/utils/buildStatusIndicators.ts
  packages/status-page/src/utils/getAverageProofReward.ts
  packages/status-page/src/utils/getAverageProofTime.ts
  packages/status-page/src/utils/getBlockFee.ts
  packages/status-page/src/utils/getProofReward.ts
  packages/status-page/src/utils/initConfig.ts
Due: none

more
  packages/protocol/.prettierrc.json
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/L2/TaikoL2Signer.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/BridgedERC20.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/common/ICrossChainSync.sol
  packages/protocol/contracts/common/IMintableERC20.sol
  packages/protocol/contracts/common/Proxied.sol
  packages/protocol/contracts/gov/TaikoGovernor.sol
  packages/protocol/contracts/libs/Lib1559Math.sol
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/contracts/libs/LibUint512Math.sol
  packages/protocol/contracts/signal/ISignalService.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/test/ExampleStaticAddressManager.sol
  packages/protocol/contracts/test/TestContracts.sol
  packages/protocol/contracts/thirdparty/LibBytesUtils.sol
  packages/protocol/contracts/thirdparty/LibFixedPointMath.sol
  packages/protocol/contracts/thirdparty/LibMerkleTrie.sol
  packages/protocol/contracts/thirdparty/LibRLPReader.sol
  packages/protocol/contracts/thirdparty/LibRLPWriter.sol
  packages/protocol/contracts/thirdparty/LibSecureMerkleTrie.sol
  packages/protocol/contracts/thirdparty/TransparentUpgradeableProxy.sol
  packages/protocol/package.json
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  pnpm-lock.yaml
Due: repo_md_json

more
  packages/protocol/.prettierrc.json
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/L2/TaikoL2Signer.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/BridgedERC20.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/gov/TaikoGovernor.sol
  packages/protocol/contracts/libs/Lib1559Math.sol
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/test/ExampleStaticAddressManager.sol
  packages/protocol/contracts/test/TestContracts.sol
  packages/protocol/contracts/thirdparty/LibMerkleTrie.sol
  packages/protocol/contracts/thirdparty/LibRLPReader.sol
  packages/protocol/contracts/thirdparty/LibSecureMerkleTrie.sol
  packages/protocol/test/genesis/GenerateGenesis.g.sol
Due: repo_md_json

Update package.json
  packages/protocol/package.json
Due: repo_md_json

wip2 (#13823)
  packages/protocol/.prettierrc.json
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/L2/TaikoL2Signer.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/BridgedERC20.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/common/ICrossChainSync.sol
  packages/protocol/contracts/common/IMintableERC20.sol
  packages/protocol/contracts/common/Proxied.sol
  packages/protocol/contracts/gov/TaikoGovernor.sol
  packages/protocol/contracts/libs/Lib1559Math.sol
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/contracts/libs/LibUint512Math.sol
  packages/protocol/contracts/signal/ISignalService.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/test/ExampleStaticAddressManager.sol
  packages/protocol/contracts/thirdparty/LibBytesUtils.sol
  packages/protocol/contracts/thirdparty/LibFixedPointMath.sol
  packages/protocol/contracts/thirdparty/LibMerkleTrie.sol
  packages/protocol/contracts/thirdparty/LibRLPReader.sol
  packages/protocol/contracts/thirdparty/LibRLPWriter.sol
  packages/protocol/contracts/thirdparty/LibSecureMerkleTrie.sol
  packages/protocol/contracts/thirdparty/TransparentUpgradeableProxy.sol
  packages/protocol/package.json
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  pnpm-lock.yaml
Due: repo_md_json

more
  packages/protocol/.solhint.json
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/gov/TaikoGovernor.sol
  packages/protocol/contracts/test/ExampleStaticAddressManager.sol
Due: repo_md_json

more
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/package.json
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Due: repo_md_json

Add auto-generated contract documentation
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
Due: repo_md_json

chore(protocol): remove prettier-plugin-solidity in favor of forge fmt
  packages/protocol/package.json
Due: repo_md_json

chore(protocol): remove prettier-plugin-solidity in favor of forge fmt
  packages/protocol/.prettierrc.json
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/L2/TaikoL2Signer.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/BridgedERC20.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/common/ICrossChainSync.sol
  packages/protocol/contracts/common/IMintableERC20.sol
  packages/protocol/contracts/common/Proxied.sol
  packages/protocol/contracts/gov/TaikoGovernor.sol
  packages/protocol/contracts/libs/Lib1559Math.sol
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/contracts/libs/LibUint512Math.sol
  packages/protocol/contracts/signal/ISignalService.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/test/ExampleStaticAddressManager.sol
  packages/protocol/contracts/thirdparty/LibBytesUtils.sol
  packages/protocol/contracts/thirdparty/LibFixedPointMath.sol
  packages/protocol/contracts/thirdparty/LibMerkleTrie.sol
  packages/protocol/contracts/thirdparty/LibRLPReader.sol
  packages/protocol/contracts/thirdparty/LibRLPWriter.sol
  packages/protocol/contracts/thirdparty/LibSecureMerkleTrie.sol
  packages/protocol/contracts/thirdparty/TransparentUpgradeableProxy.sol
  packages/protocol/package.json
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  pnpm-lock.yaml
Due: repo_md_json

change int to big int for the stats
  packages/eventindexer/http/get_stats_test.go
  packages/eventindexer/indexer/save_block_proven_event.go
  packages/eventindexer/indexer/save_block_verified_event.go
  packages/eventindexer/migrations/1666650701_create_stats_table.sql
  packages/eventindexer/mock/stat_repository.go
  packages/eventindexer/repo/stat.go
  packages/eventindexer/repo/stat_test.go
  packages/eventindexer/stat.go
Due: none

int => bigint
  packages/eventindexer/http/get_stats_test.go
  packages/eventindexer/indexer/save_block_proven_event.go
  packages/eventindexer/indexer/save_block_verified_event.go
  packages/eventindexer/migrations/1666650701_create_stats_table.sql
  packages/eventindexer/mock/stat_repository.go
  packages/eventindexer/repo/stat.go
  packages/eventindexer/repo/stat_test.go
  packages/eventindexer/stat.go
Due: none

bigint => string
  packages/eventindexer/indexer/save_block_proven_event.go
  packages/eventindexer/indexer/save_block_verified_event.go
  packages/eventindexer/migrations/1666650701_create_stats_table.sql
  packages/eventindexer/mock/stat_repository.go
  packages/eventindexer/repo/stat.go
  packages/eventindexer/repo/stat_test.go
  packages/eventindexer/stat.go
Due: none

test
  packages/eventindexer/http/get_stats_test.go
Due: none

defaults for the string
  packages/eventindexer/repo/stat.go
Due: none

find
  packages/eventindexer/repo/stat.go
Due: none

fix(eventindexer): int => string (#13828)
  packages/eventindexer/http/get_stats_test.go
  packages/eventindexer/indexer/save_block_proven_event.go
  packages/eventindexer/indexer/save_block_verified_event.go
  packages/eventindexer/migrations/1666650701_create_stats_table.sql
  packages/eventindexer/mock/stat_repository.go
  packages/eventindexer/repo/stat.go
  packages/eventindexer/repo/stat_test.go
  packages/eventindexer/stat.go
Due: none

use 80 col width
  packages/protocol/foundry.toml
Due: none

disable lint for max linelength
  packages/protocol/.solhint.json
  packages/protocol/contracts/L1/TaikoData.sol
Due: repo_md_json

Path conditions:
  bridge-ui: any of: packages/bridge-ui/**.{js,ts,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo_md_json: any of: **.{md,json}
