Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo_md_json

bridge-ui:
  run: pnpm -F bridge-ui lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint:fix && git add {staged_files}

repo_md_json:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

remove unnecessary imports
  packages/bridge-ui/src/wagmi/watcher.ts
Due: bridge-ui

minor changes
  packages/bridge-ui/src/signer/subscriber.ts
  packages/bridge-ui/src/utils/selectChain.spec.ts
  packages/bridge-ui/src/utils/selectChain.ts
Due: bridge-ui

add some clarification
  packages/bridge-ui/src/components/form/BridgeForm.svelte
Due: bridge-ui

playing around with messages
  packages/bridge-ui/src/components/Toast.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/Transactions/Transactions.svelte
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/domain/transactions.ts
  packages/bridge-ui/src/pages/home/Home.svelte
  packages/bridge-ui/src/store/transactions.spec.ts
  packages/bridge-ui/src/store/transactions.ts
Due: bridge-ui

minor change
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
Due: bridge-ui

fix pagination
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/Transactions/TransactionDetail.svelte
  packages/bridge-ui/src/components/Transactions/Transactions.svelte
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/domain/relayerApi.ts
  packages/bridge-ui/src/domain/transaction.ts
  packages/bridge-ui/src/relayer-api/RelayerAPIService.ts
  packages/bridge-ui/src/signer/subscriber.ts
  packages/bridge-ui/src/storage/StorageService.spec.ts
  packages/bridge-ui/src/storage/StorageService.ts
  packages/bridge-ui/src/store/transactions.spec.ts
  packages/bridge-ui/src/store/transactions.ts
  packages/bridge-ui/src/utils/isEthOrTokenReleased.ts
  packages/bridge-ui/src/utils/isTransactionProcessable.ts
Due: bridge-ui

improve messaging
  packages/bridge-ui/src/components/Toast.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/buttons/Connect.svelte
  packages/bridge-ui/src/components/form/BridgeForm.svelte
Due: bridge-ui

fix an issue when reconnecting
  packages/bridge-ui/src/signer/subscriber.ts
Due: bridge-ui

minor changes
  packages/bridge-ui/src/components/AddressDropdown.svelte
Due: bridge-ui

add reject tx message
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/components/modals/FaucetModal.svelte
Due: bridge-ui

chore(website): update blogs, talks, banner, and small style fixes
  packages/website/components/BlogSection.tsx
  packages/website/components/CareerSection.tsx
  packages/website/pages/docs/reference/_meta.json
  packages/website/pages/docs/reference/contract-addresses.md
  packages/website/pages/docs/reference/rpc-configuration.md
  packages/website/pages/docs/resources/_meta.json
  packages/website/pages/docs/resources/official-links.md
  packages/website/pages/docs/resources/presentations.md
  packages/website/pages/docs/resources/talks.md
  packages/website/theme.config.tsx
Due: repo_md_json

enable openAI-based review
  .github/workflows/openai-review.yml
Due: none

Update openai-review.yml
  .github/workflows/openai-review.yml
Due: none

chore(website): update blogs, talks, banner, and small style fixes (#13785)
  packages/website/components/BlogSection.tsx
  packages/website/components/CareerSection.tsx
  packages/website/pages/docs/reference/_meta.json
  packages/website/pages/docs/reference/contract-addresses.md
  packages/website/pages/docs/reference/rpc-configuration.md
  packages/website/pages/docs/resources/_meta.json
  packages/website/pages/docs/resources/official-links.md
  packages/website/pages/docs/resources/presentations.md
  packages/website/pages/docs/resources/talks.md
  packages/website/theme.config.tsx
Due: repo_md_json

chore(repo): lefthook parallel, remove husky, and fix changelog prettier issue on rebase
  .gitignore
  .husky/pre-commit
  .husky/prepare-commit-msg
  .prettierignore
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: repo_md_json

feat(repo): enable OpenAI-based review (#13786)
  .github/workflows/openai-review.yml
Due: none

feedback addressed
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/Toast.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/Transactions/Transactions.svelte
  packages/bridge-ui/src/components/buttons/SelectToken.svelte
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/components/form/SelectChain.svelte
  packages/bridge-ui/src/pages/home/Home.svelte
Due: bridge-ui

aligning to design
  packages/bridge-ui/public/taiko-favicon.png
  packages/bridge-ui/src/components/Toast.svelte
  packages/bridge-ui/src/components/icons/TKO.svelte
  packages/bridge-ui/src/components/icons/TaikoLight.svelte
  packages/bridge-ui/src/components/icons/TaikoLogo.svelte
  packages/bridge-ui/tailwind.config.cjs
Due: bridge-ui

minor change
  packages/bridge-ui/tailwind.config.cjs
Due: none

improve styling
  packages/bridge-ui/src/app.css
  packages/bridge-ui/src/components/TaikoBanner.svelte
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/components/form/Memo.svelte
  packages/bridge-ui/src/components/form/SelectChain.svelte
  packages/bridge-ui/src/components/form/To.svelte
  packages/bridge-ui/src/pages/home/Home.svelte
Due: bridge-ui

styling
  packages/bridge-ui/src/app.css
  packages/bridge-ui/src/components/icons/TKO.svelte
Due: bridge-ui

styling
  packages/bridge-ui/tailwind.config.cjs
Due: none

styling guide
  packages/bridge-ui/src/components/Navbar.svelte
Due: bridge-ui

logo in small devices
  packages/bridge-ui/src/components/Navbar.svelte
  packages/bridge-ui/src/components/icons/TaikoLogoFluo.svelte
Due: bridge-ui

remove import
  packages/bridge-ui/src/components/Navbar.svelte
Due: bridge-ui

minor changes
  packages/bridge-ui/src/components/Toast.svelte
  packages/bridge-ui/src/components/buttons/Connect.svelte
  packages/bridge-ui/src/components/form/SelectChain.svelte
Due: bridge-ui

fix(repo): commit contract documentation on branch
  .github/workflows/protocol.yml
Due: none

chore(repo): re-enable install from frozen lockfile
  .github/actions/install-pnpm-dependencies/action.yml
  pnpm-lock.yaml
Due: none

chore(repo): apply prettier all files
  README.md
  packages/branding/README.md
  packages/protocol/simulation/README.md
  packages/protocol/test/genesis/testnet/docker-compose.yml
Due: repo_md_json

chore(repo): re-enable install from frozen lockfile (#13789)
  .github/actions/install-pnpm-dependencies/action.yml
  pnpm-lock.yaml
Due: none

chore(repo): apply prettier all files (#13790)
  README.md
  packages/branding/README.md
  packages/protocol/simulation/README.md
  packages/protocol/test/genesis/testnet/docker-compose.yml
Due: repo_md_json

fix(repo): commit contract documentation on branch (#13788)
  .github/workflows/protocol.yml
Due: none

fix typo
  packages/protocol/contracts/bridge/libs/LibBridgeProcess.sol
Due: none

resolve lock file
  pnpm-lock.yaml
Due: none

try paris
  packages/protocol/foundry.toml
Due: none

chore(repo): lefthook parallel, remove husky, and fix changelog prettier issue on rebase (#13787)
  .gitignore
  .husky/pre-commit
  .husky/prepare-commit-msg
  .prettierignore
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: repo_md_json

revert CHANGELOG.md
  packages/whitepaper/CHANGELOG.md
Due: repo_md_json

revert CHANGELOG.md
  packages/protocol/CHANGELOG.md
Due: repo_md_json

revert CHANGELOG.md
  packages/eventindexer/CHANGELOG.md
Due: repo_md_json

revert CHANGELOG.md
  packages/relayer/CHANGELOG.md
Due: repo_md_json

Path conditions:
  bridge-ui: any of: packages/bridge-ui/**.{js,ts,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo_md_json: any of: **.{md,json}
