Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo_md_json

lefthook.yml:

# lefthook.yml
pre-commit:
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,svelte}"
      run: pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint:fix && git add {staged_files}
    repo_md_json:
      glob: "**.{md,json}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

feat(website): add l3 error handling (#14231)
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
Due: none

add TTKOe on L2
  packages/website/domain/chain/grimsvotn/addTokens.ts
Due: none

feat(website): add private key warning
  packages/website/pages/docs/guides/run-a-node/enable-a-proposer.mdx
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Due: none

feat(website): add private key warning (#14240)
  packages/website/pages/docs/guides/run-a-node/enable-a-proposer.mdx
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Due: none

Create test
  test
Due: none

wip
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/token/getAddress.ts
  packages/bridge-ui-v2/src/libs/util/getConnectedWallet.ts
Due: repo_md_json

chore(website): merge 2 node runner manual to 1 file
  packages/website/pages/docs/manuals/_meta.json
  packages/website/pages/docs/manuals/node-runner-manuals/_meta.json
  packages/website/pages/docs/manuals/node-runner-manuals/grimsvotn-l2-node-runner-manual.mdx
  packages/website/pages/docs/manuals/nodes-runner-manual.mdx
Due: repo_md_json

feat(bridge): add ttko to dropdown
  packages/bridge-ui/src/token/tokens.ts
Due: bridge-ui

feat(website): add node runner manuals (#14236)
  packages/website/pages/docs/_meta.json
  packages/website/pages/docs/manuals/_meta.json
  packages/website/pages/docs/manuals/node-runner-manuals/_meta.json
  packages/website/pages/docs/manuals/node-runner-manuals/eldfell-l3-node-runner-manual.mdx
  packages/website/pages/docs/manuals/node-runner-manuals/grimsvotn-l2-node-runner-manual.mdx
Due: repo_md_json

feat(website): add warning for casual provers (#14232)
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Due: none

chore(website): create index page for node runner manuals
  packages/website/pages/docs/manuals/node-runner-manuals.mdx
Due: none

chore(docs): update run-a-taiko-node.mdx (#14233)
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
Due: none

do not check sender in bridge receive
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/BridgeErrors.sol
Due: none

Update BaseVault.sol
  packages/protocol/contracts/tokenvault/BaseVault.sol
Due: none

more
  packages/website/pages/docs/reference/contract-documentation/bridge/Bridge.md
  packages/website/pages/docs/reference/contract-documentation/bridge/BridgeErrors.md
Due: repo_md_json

Update ERC721Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
Due: none

Update BaseNFTVault.sol
  packages/protocol/contracts/tokenvault/BaseNFTVault.sol
Due: none

more
  packages/protocol/contracts/tokenvault/BaseNFTVault.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
Due: none

feat(protocol): Reduce nft bridge code size (#14230)
  packages/protocol/contracts/tokenvault/BaseNFTVault.sol
  packages/protocol/contracts/tokenvault/BaseVault.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/contracts/tokenvault/libs/LibVaultUtils.sol
  packages/protocol/test/ERC1155Vault.t.sol
  packages/protocol/test/ERC20Vault.t.sol
  packages/protocol/test/ERC721Vault.t.sol
Due: none

feat: docs(website) Update eldfell-l3-node-runner-manual.mdx
  packages/website/pages/docs/manuals/node-runner-manuals/eldfell-l3-node-runner-manual.mdx
Due: none

feat: docs(website) Update grimsvotn-l2-node-runner-manual.mdx
  packages/website/pages/docs/manuals/node-runner-manuals/grimsvotn-l2-node-runner-manual.mdx
Due: none

feat: docs(website) Update enable-a-prover.mdx
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Due: none

wip
  packages/bridge-ui-v2/src/app.config.ts
  packages/bridge-ui-v2/src/libs/util/Deferred.ts
  packages/bridge-ui-v2/src/stores/pendingTransactions.ts
Due: none

fix(website): update running l3 node docs
  packages/website/pages/docs/manuals/node-runner-manuals/eldfell-l3-node-runner-manual.mdx
Due: none

Deleted decodeMessage()
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/test/ERC1155Vault.t.sol
  packages/protocol/test/ERC721Vault.t.sol
Due: none

docs(website): Update run-a-taiko-node.mdx
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
Due: none

wip
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/Validator.svelte
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/stores/index.ts
  packages/bridge-ui-v2/src/stores/pendingTransactions.ts
Due: none

wip
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
Due: none

feat(website): update owlto and kalkiswap (#14234)
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/kalkiswap.png
Due: none

bridging
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/token/isDeployedCrossChain.ts
Due: repo_md_json

handle errors
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
Due: none

wip
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
Due: repo_md_json

bridging in place
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/components/NotificationToast/ItemToast.svelte
  packages/bridge-ui-v2/src/components/NotificationToast/NotificationToast.svelte
  packages/bridge-ui-v2/src/components/NotificationToast/types.ts
Due: none

wip
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/token/mint.ts
Due: repo_md_json

fix faucet
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/token/mint.test.ts
  packages/bridge-ui-v2/src/libs/token/mint.ts
Due: repo_md_json

minor change
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
Due: none

we do not need this Validator
  packages/bridge-ui-v2/src/components/Bridge/Validator.svelte
Due: none
