Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo_md_json

bridge-ui:
  run: pnpm -F bridge-ui lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint:fix && git add {staged_files}

repo_md_json:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

minor change
  packages/bridge-ui-v2/src/components/Bridge/AmountInput/Balance.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
Due: none

add erc20 tables
  packages/website/components/ContractAddressTable.tsx
  packages/website/domain/chain/baseTypes.ts
  packages/website/domain/chain/eldfell/config.ts
  packages/website/domain/chain/grimsvotn/config.ts
  packages/website/domain/chain/sepolia/config.ts
  packages/website/next.config.mjs
  packages/website/pages/docs/guides/build-on-taiko/setup-your-wallet.mdx
  packages/website/pages/docs/reference/contract-addresses.mdx
Due: none

save
  packages/website/pages/_meta.json
  packages/website/pages/docs/guides/build-on-taiko/receive-tokens.mdx
Due: repo_md_json

EIP-1559 documentation draft
  packages/website/pages/docs/concepts/overview.md
  packages/website/pages/docs/concepts/overview.mdx
  packages/website/public/images/diagrams/concepts/eip-1559/fee-layout.png
Due: repo_md_json

remove autogen docs and update contract addresses
  packages/website/pages/docs/reference/_meta.json
  packages/website/pages/docs/reference/contract-addresses.mdx
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoConfig.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoToken.md
  packages/website/pages/docs/reference/contract-documentation/L2/LibL2Consts.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2Signer.md
  packages/website/pages/docs/reference/contract-documentation/bridge/Bridge.md
  packages/website/pages/docs/reference/contract-documentation/bridge/BridgeErrors.md
  packages/website/pages/docs/reference/contract-documentation/bridge/BridgedERC20.md
  packages/website/pages/docs/reference/contract-documentation/bridge/EtherVault.md
  packages/website/pages/docs/reference/contract-documentation/bridge/IBridge.md
  packages/website/pages/docs/reference/contract-documentation/bridge/TokenVault.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressManager.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
  packages/website/pages/docs/reference/contract-documentation/common/ICrossChainSync.md
  packages/website/pages/docs/reference/contract-documentation/common/IMintableERC20.md
  packages/website/pages/docs/reference/contract-documentation/common/Proxied.md
  packages/website/pages/docs/reference/contract-documentation/gov/TaikoGovernor.md
  packages/website/pages/docs/reference/contract-documentation/signal/ISignalService.md
  packages/website/pages/docs/reference/contract-documentation/signal/SignalService.md
Due: repo_md_json

add chain icons
  packages/bridge-ui/package.json
  packages/bridge-ui/src/chain/chains.ts
  packages/bridge-ui/src/components/BridgeForm/SelectChain.svelte
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/SwitchChainModal.svelte
  packages/bridge-ui/src/components/icons/Eldfell.svelte
  packages/bridge-ui/src/components/icons/Sepolia.svelte
  packages/bridge-ui/src/components/icons/Taiko.svelte
  packages/bridge-ui/src/constants/__mocks__/envVars.ts
  packages/bridge-ui/src/constants/envVars.ts
  packages/bridge-ui/src/token/tokens.ts
  packages/bridge-ui/src/utils/isOnCorrectChain.spec.ts
  packages/bridge-ui/src/utils/recommendProcessingFee.spec.ts
  packages/bridge-ui/src/vite-env.d.ts
  packages/bridge-ui/src/wagmi/watcher.ts
Due: bridge-ui, repo_md_json

minor change
  packages/bridge-ui/src/components/ChainDropdown.svelte
Due: bridge-ui

small change
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
Due: bridge-ui

Force push
  packages/pos-dashboard/.default.env
Due: none

.
  packages/bridge-ui/src/pages/home/Home.svelte
Due: bridge-ui

format units
  packages/pos-dashboard/src/components/StakeForm.svelte/StakeForm.svelte
Due: none

support guides up to bridge tokens
  packages/website/pages/docs/concepts/overview.mdx
  packages/website/pages/docs/guides/build-on-taiko/bridge-tokens.mdx
  packages/website/pages/docs/guides/build-on-taiko/receive-tokens.mdx
  packages/website/pages/docs/resources/official-links.mdx
  packages/website/pages/docs/resources/rollup-glossary.md
  packages/website/pages/docs/resources/rollup-glossary.mdx
  packages/website/pages/docs/resources/talks.mdx
Due: repo_md_json

chain icon from url
  packages/bridge-ui/public/chains/eldfell.svg
  packages/bridge-ui/public/chains/sepolia.svg
  packages/bridge-ui/public/chains/taiko.svg
  packages/bridge-ui/src/chain/chains.ts
  packages/bridge-ui/src/components/BridgeForm/SelectChain.svelte
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/domain/chain.ts
Due: bridge-ui

fix errors
  packages/bridge-ui/src/chain/chains.ts
  packages/bridge-ui/src/components/AddressDropdown.svelte
  packages/bridge-ui/src/components/SwitchChainModal.svelte
Due: bridge-ui

remove unnecessary icons
  packages/bridge-ui/src/components/icons/Eldfell.svelte
  packages/bridge-ui/src/components/icons/Sepolia.svelte
  packages/bridge-ui/src/components/icons/Taiko.svelte
Due: bridge-ui

add swap and deploy a contract
  packages/website/pages/docs/guides/build-on-taiko/deploy-a-contract.mdx
  packages/website/pages/docs/guides/build-on-taiko/swap-tokens.mdx
Due: none

add staking dashboard
  packages/website/pages/_meta.json
Due: repo_md_json

finish all user guides
  packages/website/pages/docs/guides/build-on-taiko/verify-a-contract.mdx
Due: none

fixes
  packages/pos-dashboard/src/components/StakeForm.svelte/StakeForm.svelte
Due: none

exit requested
  packages/pos-dashboard/src/components/ProverInfo/ProverInfo.svelte
Due: none

title
  packages/pos-dashboard/index.html
Due: none

semantic pr
  .github/workflows/lint-pr.yml
Due: none

truncate
  packages/pos-dashboard/src/components/CurrentProvers/CurrentProvers.svelte
Due: none

rm form control
  packages/pos-dashboard/src/components/StakeForm.svelte/StakeForm.svelte
Due: none

withdraw
  packages/pos-dashboard/src/components/Rewards/Rewards.svelte
  packages/pos-dashboard/src/components/Rewards/index.ts
  packages/pos-dashboard/src/components/StakeForm.svelte/StakeForm.svelte
  packages/pos-dashboard/src/constants/abi/TaikoL1.ts
  packages/pos-dashboard/src/pages/home/Home.svelte
  packages/pos-dashboard/src/utils/getTaikoL1Balance.ts
  packages/pos-dashboard/src/utils/withdrawTaikoToken.ts
Due: none

margin
  packages/pos-dashboard/src/components/Rewards/Rewards.svelte
Due: none

explain
  packages/pos-dashboard/src/components/Events/History.svelte
Due: none

Typo
  packages/pos-dashboard/src/components/Events/History.svelte
Due: none

eventindexer updates for staked, slashed, exited, withdrawn
  packages/eventindexer/event.go
  packages/eventindexer/indexer/filter.go
  packages/eventindexer/indexer/save_exited_event.go
  packages/eventindexer/indexer/save_staked_event.go
  packages/eventindexer/indexer/save_withdrawn_event.go
  packages/eventindexer/indexer/subscribe.go
  packages/eventindexer/prometheus.go
Due: none

feat(website): add owlto finance to ecosystem
  packages/website/components/EcosystemSection.tsx
  packages/website/public/images/ecosystem/owlto.png
Due: none

use errgroup, much much much faster syncing
  packages/eventindexer/.golangci.yml
  packages/eventindexer/indexer/filter.go
  packages/pos-dashboard/src/components/Events/History.svelte
  packages/pos-dashboard/src/components/StakeForm.svelte/StakeForm.svelte
  packages/pos-dashboard/src/utils/getExitedEvents.ts
  packages/pos-dashboard/src/utils/getStakedEvents.ts
  packages/pos-dashboard/src/utils/getWithdrawnEvents.ts
Due: none

more stuff
  packages/website/next.config.mjs
  packages/website/pages/_meta.json
  packages/website/pages/docs/concepts/bridging.mdx
  packages/website/pages/docs/concepts/proving.mdx
  packages/website/pages/docs/guides/build-on-taiko/build-a-dapp.mdx
  packages/website/pages/docs/guides/build-on-taiko/deploy-a-contract.mdx
  packages/website/pages/docs/guides/build-on-taiko/receive-tokens.mdx
  packages/website/pages/docs/guides/build-on-taiko/setup-your-wallet.mdx
  packages/website/pages/docs/guides/build-on-taiko/swap-tokens.mdx
  packages/website/pages/docs/guides/build-on-taiko/verify-a-contract.mdx
  packages/website/pages/docs/guides/run-a-node/_meta.json
  packages/website/pages/docs/guides/run-a-node/claim-prover-rewards.mdx
  packages/website/pages/docs/guides/run-a-node/claim-prover-ttko.mdx
  packages/website/pages/docs/guides/run-a-node/enable-a-proposer.mdx
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
  packages/website/pages/docs/guides/run-a-node/run-a-sepolia-node.mdx
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
Due: repo_md_json

fix pnpm
  pnpm-lock.yaml
Due: none

fully support node running guides
  packages/website/pages/docs/guides/run-a-node/enable-a-proposer.mdx
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
  packages/website/theme.config.tsx
Due: none

add staking stuff
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Due: none

lint
  packages/bridge-ui/src/pages/home/Home.svelte
Due: bridge-ui

add pos-dashboard
  packages/pos-dashboard/temp.txt
Due: none

Update bridge-tokens.mdx
  packages/website/pages/docs/guides/build-on-taiko/bridge-tokens.mdx
Due: none

Path conditions:
  bridge-ui: any of: packages/bridge-ui/**.{js,ts,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo_md_json: any of: **.{md,json}
