Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo_md_json

bridge-ui:
  run: pnpm -F bridge-ui lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint:fix && git add {staged_files}

repo_md_json:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

also check canonicalToBridged is bridgedTOCanonical
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.ts
Due: bridge-ui

check isBridgedTOken and thus canonicalToBridged
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.ts
Due: bridge-ui

use var
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.ts
Due: bridge-ui

rm logs
  packages/bridge-ui/src/bridge/ERC20Bridge.ts
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.ts
  packages/pos-dashboard/src/components/Events/History.svelte
  packages/pos-dashboard/src/components/Tabs/TabPanel.svelte
Due: bridge-ui

fix network switching
  packages/bridge-ui/src/utils/switchNetwork.ts
  packages/bridge-ui/src/wagmi/watcher.ts
Due: bridge-ui

feat(bridge-ui-v2): check if dest token is already bridged
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/libs/token/getAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.ts
Due: none

fix(protocol): fix vault sending ether and improve comments (#14427)
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/BridgeErrors.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/protocol/contracts/bridge/README.md
  packages/protocol/contracts/bridge/libs/LibBridgeData.sol
  packages/protocol/contracts/bridge/libs/LibBridgeInvoke.sol
  packages/protocol/contracts/bridge/libs/LibBridgeProcess.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRecall.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRetry.sol
  packages/protocol/contracts/bridge/libs/LibBridgeSend.sol
  packages/protocol/contracts/bridge/libs/LibBridgeStatus.sol
  packages/protocol/contracts/tokenvault/BaseNFTVault.sol
  packages/protocol/contracts/tokenvault/BaseVault.bak
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
Due: repo_md_json

fix(pos-dashboard): Staking dashboard bug fixes (#14447)
  packages/bridge-ui/src/proof/ProofService.ts
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.ts
  packages/bridge-ui/src/utils/getAddressForToken.ts
  packages/bridge-ui/src/wagmi/watcher.ts
  packages/pos-dashboard/src/components/Events/History.svelte
  packages/pos-dashboard/src/components/Rewards/Rewards.svelte
  packages/pos-dashboard/src/components/StakeForm.svelte/StakeForm.svelte
  packages/pos-dashboard/src/components/Tabs/TabPanel.svelte
  packages/pos-dashboard/src/utils/switchNetwork.ts
Due: bridge-ui

chore(protocol): improve protocol documentation (#14399)
  packages/protocol/contracts/L1/IProofVerifier.sol
  packages/protocol/contracts/L1/IProverPool.sol
  packages/protocol/contracts/L1/ProofVerifier.sol
  packages/protocol/contracts/L1/ProverPool.sol
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/libs/LibEthDepositing.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTaikoToken.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/libs/proofTypes/LibVerifyZKP.sol
  packages/protocol/contracts/L1/libs/verifiers/LibZKPVerifier.sol
  packages/protocol/contracts/L2/LibL2Consts.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/L2/TaikoL2Signer.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/common/ICrossChainSync.sol
  packages/protocol/contracts/common/IMintableERC20.sol
  packages/protocol/contracts/common/Proxied.sol
  packages/protocol/contracts/libs/Lib1559Math.sol
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/contracts/libs/LibMath.sol
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/contracts/libs/LibUint512Math.sol
  packages/protocol/contracts/signal/ISignalService.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
Due: none

feat(website): fix emojis
  packages/website/pages/docs/guides.mdx
  packages/website/pages/docs/guides/run-a-node/_meta.json
Due: repo_md_json

rm test case
  packages/bridge-ui/src/utils/switchNetwork.spec.ts
Due: bridge-ui

test
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.spec.ts
Due: bridge-ui

mocks
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.spec.ts
Due: bridge-ui

docs(website): Emoji updates build on Taiko and update guides page (#14381)
  packages/website/pages/docs/guides.mdx
  packages/website/pages/docs/guides/run-a-node/_meta.json
Due: repo_md_json

feat(website): use cards in guides
  packages/website/pages/docs/guides.mdx
  packages/website/pages/docs/guides/run-a-node/_meta.json
Due: repo_md_json

chore(website): update proverpool impl address (#14423)
  packages/website/domain/chain/grimsvotn/config.ts
Due: none

chore(protocol): remove deprecated test files (#14425)
  packages/protocol/contracts/test/ExampleStaticAddressManager.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/contracts/test/TestContracts.sol
  packages/protocol/contracts/test/bridge/TestHeaderSync.sol
  packages/protocol/contracts/test/bridge/libs/TestLibBridgeData.sol
  packages/protocol/contracts/test/bridge/libs/TestLibBridgeInvoke.sol
  packages/protocol/contracts/test/bridge/libs/TestLibBridgeRetry.sol
  packages/protocol/contracts/test/bridge/libs/TestLibBridgeSend.sol
  packages/protocol/contracts/test/bridge/libs/TestReceiver.sol
  packages/protocol/contracts/test/libs/TestLibBlockHeader.sol
  packages/protocol/contracts/test/libs/TestLibTrieProof.sol
  packages/protocol/contracts/test/thirdparty/TestLibMerkleTrie.sol
  packages/protocol/contracts/test/thirdparty/TestLibRLPReader.sol
  packages/protocol/contracts/test/thirdparty/TestLibRLPWriter.sol
  packages/protocol/contracts/test/thirdparty/TestLibSecureMerkleTrie.sol
  packages/protocol/contracts/test/thirdparty/TestMessageSender.sol
Due: none

chore(protocol): clean up solidity code for auditing (#14421)
  packages/protocol/contracts/bridge/libs/LibBridgeStatus.sol
  packages/protocol/contracts/gov/TaikoGovernor.sol
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/thirdparty/LibBytesUtils.sol
  packages/protocol/contracts/thirdparty/LibMerkleTrie.sol
  packages/protocol/contracts/thirdparty/TransparentUpgradeableProxy.sol
  packages/protocol/test/genesis/GenerateGenesis.g.sol
Due: none

fix(protocol): Fix ProverPool bug, clear proverId when exit (#14411)
  packages/protocol/contracts/L1/ProverPool.sol
Due: none

chore(docs): add descriptive comment to LibProving (#14406)
  packages/protocol/contracts/L1/libs/LibProving.sol
Due: none

feat(website): Update enable-a-prover.mdx (#14353)
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Due: none

feat(website): update zksynth on ecosystem (#14410)
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/zksynth.png
Due: none

docs(website): Docs guides nodes curl request chainId and consensus layer syncing status (#14414)
  packages/website/pages/docs/guides/run-a-node/run-a-sepolia-node.mdx
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
Due: none

feat(website): update prover log check (#14385)
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Due: none

docs(website): add L3 port setting example for "Run a Taiko node" (#14345)
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
Due: none

docs(website): add guidance for changing staked TTKOe amount in Eldfell L3 provers (#14348)
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Due: none

docs(website):Update enable-a-prover.mdx prerequisites (#14408)
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Due: none

chore(website): update contributing manual (#14434)
  CONTRIBUTING.md
Due: repo_md_json

feat(website): add cloak to ecosystem (#14417)
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/cloak.png
Due: none

docs(protocol): update `How Taiko proves L2 blocks`, no more special logic to prove for `withdrawalsRoot` (#14429)
  packages/protocol/docs/how_taiko_proves_blocks.md
Due: repo_md_json

feat(website): add goneuron to ecosystem (#14409)
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/goneuron.jpeg
Due: none

feat(website): add prover video (#14424)
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Due: none

feat(website): add vooi to ecosystem (#14435)
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/vooi.jpeg
Due: none

rm dead tests
  packages/bridge-ui/src/utils/switchNetwork.spec.ts
  packages/pos-dashboard/src/utils/switchNetwork.spec.ts
Due: bridge-ui

jest config
  packages/bridge-ui/jest.config.js
Due: bridge-ui

Update run-a-taiko-node.mdx
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
Due: none

Path conditions:
  bridge-ui: any of: packages/bridge-ui/**.{js,ts,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo_md_json: any of: **.{md,json}
