Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo_md_json

lefthook.yml:

# lefthook.yml
pre-commit:
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,svelte}"
      run: pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint:fix && git add {staged_files}
    repo_md_json:
      glob: "**.{md,json}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

Update how_taiko_proves_blocks.md
  packages/protocol/docs/how_taiko_proves_blocks.md
Due: repo_md_json

Revert "Update how_taiko_proves_blocks.md"
  packages/protocol/docs/how_taiko_proves_blocks.md
Due: repo_md_json

Add setter to IAddressManager
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
Due: none

Add auto-generated contract documentation
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
Due: repo_md_json

first
  packages/protocol/contracts/L1/TaikoCallback.sol
  packages/protocol/contracts/L1/TaikoCore.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/test/TaikoL1.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Due: none

first
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/test/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsTestnet.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Due: none

first
  packages/protocol/contracts/L1/TaikoCore.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsTestnet.t.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
Due: none

first
  packages/protocol/contracts/L1/TaikoCore.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
Due: none

first
  packages/protocol/contracts/L1/TaikoL1.sol
Due: none

first
  packages/protocol/contracts/L1/TaikoCallback.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Due: none

first
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Due: none

Add auto-generated contract documentation
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoCallback.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoCore.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
Due: repo_md_json

Update packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/AddressResolver.sol
Due: none

Update packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/common/EssentialContract.sol
Due: none

more
  packages/protocol/contracts/L1/TaikoCallback.sol
  packages/protocol/contracts/L1/TaikoCore.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
Due: none

remove
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/test/TaikoL1.t.sol
Due: none

Update LibProving.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
Due: none

Update LibUtils.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
Due: none

feat(protocol): Add setter to IAddressManager of AddressResolver (#13799)
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
Due: repo_md_json

align logo and guide
  packages/bridge-ui/src/components/Navbar.svelte
Due: bridge-ui

Update DetermineNewProofTimeIssued.s.sol
  packages/protocol/script/DetermineNewProofTimeIssued.s.sol
Due: none

refactor(protocol): remove LibTokenomics from LibProposing (#13801)
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/script/DetermineNewProofTimeIssued.s.sol
  packages/protocol/test/TaikoL1.t.sol
Due: none

Fix name mismatch(build) issue
  packages/protocol/contracts/common/EssentialContract.sol
Due: none

Adjust test and indentation
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Due: none
